global
    log 127.0.0.1 local2
    #chroot /var/lib/haproxy
    #pidfile /var/run/haproxy.pid
    maxconn 4000
    user haproxy
    group haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    tune.ssl.default-dh-param 2048

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option http-server-close
    option forwardfor
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout http-keep-alive 10s
    timeout check 10s
    maxconn 4000

frontend http
    bind :::80 v4v6
    http-request set-header X-Forwarded-Proto http
    #reqadd X-Forwarded-Proto:\ http
    #default_backend backend

frontend https
    bind :::443 v4v6 ssl crt /usr/local/etc/ssl/selfsigned.pem
    http-request set-header X-Forwarded-Proto https
    #reqadd X-Forwarded-Proto:\ https
    default_backend backend
    http-request allow if { path -i -m beg /key/wg/ }
    http-request silent-drop if { path -i -m beg / }

backend backend
    balance roundrobin
    server pritunl0 10.254.254.254:8443 check
